/*
	Pierwszy Szablon Wordpress
	Author:Erwin Bochnia
	Szablon przygotowany na potrzeby szkolenia Work-on
	version 1.0;
*/



/* GLOBAL **************************************************/
* {
	outline: none;
}

body {
	font-family: "Open Sans";
	font-weight: 400;
	line-height: 1.5;
	color: #565656;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: #0e3b50;

	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
	        transition: all .25s;
}

a:focus, a:visited {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	color: #0e3b50;
	font-weight: 300;
	padding-bottom: 10px;
	border-bottom: 2px solid #ddd;
}
.block-log-in {
	padding: 1vw;
	width: 20vw;
	margin: auto;
	background: rgba(0,0,0,0.3);
	color :white;
	text-align: center;
}

.button {
	display: inline-block;
	padding: 5px 10px;
	border-radius: 3px;
	background: #dfdfdf;
	border: 1px solid #aaa;
	color: #0e3b50;
	font-weight: 600;
}

.button:hover {
	background: #0e3b50;
	border: 1px solid #0e3b50;
	text-decoration: none;
}

.button.read-more i {
	position: relative;
	top: -1px;
	margin-left: 5px;
	font-size: 70%;
}

.mainphoto {
	position: absolute;
	top: 0;
}
input, select, textarea {
	width: 100%;
	padding: 5px 10px;
	border: 3px solid #ccc;
	border-radius: 15px;
	outline: none;
	color: #444;
	margin-bottom: 10px;

}

input:hover, select:hover, textarea:hover {
	border: 1px solid #0e3b50;


input:focus, select:focus, textarea:focus {
	border: 1px solid #0e3b50;
	box-shadow: 0 0 5px #0e3b50;
}

input[type="submit"] {
	display: inline-block;
	width: auto;
	background: #e64d19;
	color: #23527c;
}

input[type="submit"]:focus, input[type="submit"]:active {
	box-shadow: none !important;
	outline: none !important;
}

.logo-p
{
	font-size: 40px;
	color:#333333;

}
.photo .content .label{
	font-size: 60px;
	color:red;
}
.photo .content .submit-frontpage{
	background: #e64d19;
	width: 150px; 
	height: 45px;
	border: #23527c;
	border-radius: 15px;
	font-size:25px;
	font-weight: 3px;
	color:#0e3b50;
}

/* TOP **************************************************/

.top {
	position: relative;
	z-index: 2;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	background: none;
	box-shadow: 0 0 25px rgba(0,0,0,0.4);
}

.top .menu {
	list-style: none;
	text-align: right;
	margin-top: 20px;
	margin-bottom: 0;
	padding-left: 0;
}

.top .menu ul {
	padding: 0;
}

.top .menu li {
	display: inline-block;
	position: relative;
	margin-left: 10px;
}

.top .menu > li {
	padding-bottom: 5px;
}

.top .menu li a {
	display: block;
	padding: 10px 15px;
	font-size: 16px;
	border-radius: 3px;

}

.top .menu li a:hover, .top .menu li.current a {
	background: #e64d19;;
	color: #fff;
	text-decoration: none;
	;
}

.top .menu li ul {
	display: none;
	position: absolute;
	padding: 0;
	right: 0;
	top: 100%;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 3px;

}

.top .menu li:hover ul {
	display: block;	

}

.top .menu li ul li {
	display: block;
	margin: 0;
	border-bottom: 1px solid #ddd;
}

.top .menu li ul li a {
	border-radius: 0;
}

.top .menu li ul li:first-child a {
	border-radius: 3px 3px 0 0;
}

.top .menu li ul li:last-child a {
	border-radius: 0 0 3px 3px;
}

.top .menu li ul li:last-child {
	border-bottom: none;
}

.top .menu-toggle {
	display: none;
	font-size: 30px;
	margin-top: 20px;
	color: #0e3b50;
	cursor: pointer;
}

.top .menu-toggle:hover {
	color: #2ea1f1;
}

.top .menu .search i {
	position: relative;
	top: -1px;
}

.top .menu .search form {
	display: none;
	position: absolute;
    right: 0;
    top: 100%;
    width: 200px;
}

.top .menu .search form input {
	padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* LOGO ****************************************************/
.logo{
	max-height:70px;
	max-width:70px;
}
/* SLIDER **************************************************/

.photo {
	position: relative;
	width: 100%;
	height: 600px;
	overflow: hidden;

	-webkit-transition: paddingTop .25s;
	   -moz-transition: paddingTop .25s;
	    -ms-transition: paddingTop .25s;
	     -o-transition: paddingTop .25s;
	        transition: paddingTop .25s;
}

.photo img {
	position: absolute;
	left: 50%;
	margin-left: -1000px;
	max-width: 1000%;
}

.photo .content {
    position: absolute;
    z-index: 3;
    text-align: center;
    width: 100%;
    top: 42%;
}

.photo .content h1 {
    border: none;
    font-size: 46px;
    color: #fff;
    text-shadow: 0 0 30px #000;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.photo .content .button {
    padding: 15px 30px;
    font-size: 16px;
    background: rgba(0,0,0,0.5);
    border: 2px solid #fff;
    color: #fff;
}

.photo .content .button:hover {
	background: rgba(0,0,0,0.7);
}


/* INFO BOXES **************************************************/

.info-boxes {
	padding: 60px 0 80px;
}

.info-boxes h2 {
	margin-bottom: 20px;
}


/* FOOTER **************************************************/

.footer {
	width: 100%;
	padding: 40px 0;
	background: #0e3b50;
	color: #ddd;
}

.footer .button {
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
}

.footer .button:hover {
	border: 1px solid #2ea1f1;
	color: #2ea1f1;
}

.footer h3 {
	margin-top: 0;
	margin-bottom: 10px;	
	color: #afafaf;
	border-bottom: 1px solid #334a54;
}

.footer .social-buttons a {
	margin-right: 15px;
	margin-bottom: 15px;
}

.footer .social-buttons a i {
	font-size: 36px;
	color: #ddd;

	-webkit-transition: color .25s;
	   -moz-transition: color .25s;
	    -ms-transition: color .25s;
	     -o-transition: color .25s;
	        transition: color .25s;
}

.footer .social-buttons a:hover i {
	font-size: 36px;
	color: #2ea1f1;
}

.footer input:hover, .footer select:hover, .footer textarea:hover {
	border: 1px solid #2ea1f1;
}

.footer input:focus, .footer select:focus, .footer textarea:focus {
	border: 1px solid #2ea1f1;
	box-shadow: 0 0 5px #2ea1f1;
}


/* SMALL FOOTER **************************************************/

.small-footer {
	padding: 20px 0 60px;
	text-align: center;
	color: #888;
}


/* SIDEBAR **************************************************/

.sidebar ul {
	list-style: none;
	padding-left: 0;
}

.sidebar ul li {
	margin-bottom: 15px;
	padding-left: 10px;
}

.sidebar ul li:before {
	content: "\f054";
	position: relative;
	top: -1px;
	display: inline-block;
    font-family: 'FontAwesome';
    font-size: 10px;
    margin-right: 10px;
}

.sidebar .block {
	margin-bottom: 40px;
}

.sidebar .tagcloud a {
	padding: 5px;
}


/* PAGE **************************************************/

.page-header {
    margin: 0;
    background: #2ea1f1;
    color: #fff;
    padding: 20px 0;
}

.page-header h1 {
    margin: 0;
    border: none;
}

.page-header .breadcrumbs a {
	color: #fff;
}

.page-header .breadcrumbs span {
	color: #ddd;
}

.page-header .breadcrumbs i {
	position: relative;
	top: -1px;
	font-size: 8px;
	margin: 0 10px;
}

.page-content {
	min-height: 400px;
}

.page-content:not(.page-contact) {
	padding: 60px 0;
}


/* PAGE LIST **************************************************/

.page-content img.alignleft {
	margin-right: 15px;
}

.page-content img.alignright {
	margin-left: 15px;
}

.page-content img {
	margin-bottom: 15px;
}

.page-list .list-item {
	margin-bottom: 40px;
}

.page-list .list-item h2 {
	padding-bottom: 0;
}

.page-list .list-item h2 a {
	padding-bottom: 10px;
	display: block;
}

.page-list .list-item h2 a:hover {
	text-decoration: none;
}

.page-list .list-item h2:hover {
	border-bottom: 2px solid #0e3b50;
}

.meta-info {
	color: #888;
	margin-bottom: 10px;
	font-style: italic;
}



/* SINGLE POST **************************************************/

.single .meta-info {
	margin-top: 20px;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	margin: auto;
}


/* PAGE CONTACT **************************************************/

.page-contact .contact-info {
	line-height: 2;
}

.page-contact .contact-info a {
	color: inherit;
}

.page-contact .contact-info strong {
	display: inline-block;
	margin-bottom: 20px;
}

.page-contact .contact-form label {
	display: block;
	width: 100%;
}

.page-contact .contact-form input[type="text"],
.page-contact .contact-form input[type="email"] {
	width: 60%;
}

.page-contact .contact-form textarea {
	height: 100px;
}

.page-contact .contact-info,
.page-contact .contact-form {
	padding-top: 40px; 
	padding-bottom: 60px; 
}


/* CUSTOM MEDIA QUERIES **************************************************/

@media screen and (max-width: 992px) {
	.top, .top .menu {
		text-align: center;
	}

	.info-boxes {
		padding-bottom: 40px;
	}

	.info-boxes .info-box {
		margin-bottom: 40px;
	}

	.footer {
		padding-bottom: 20px;
	}

	.footer .footer-box {
		margin-bottom: 40px;
	}

	.photo .content h1 {
	    font-size: 34px;
	}

	.photo .content .button {
	    font-size: 14px;
	}
	
	.page-contact .contact-info {
		padding-bottom: 0;
	}
}


@media screen and (max-width: 768px) {
	.top .menu-toggle {
		display: block;
	}

	.top .menu {
		display: none;
	}

	.top .menu li {
		display: block;
		margin-left: 0;
	}

	.top .menu li ul {
		display: none !important; /* tylko na potrzeby kursu, w rzeczywistych warunkach trzeba zapewnić też widoczność całego menu na urządzeniach mobilnych */ 
	}

	.top .menu .search > a {
		display: none;
	}
	
	.top .menu .search form {
		display: block !important;
		position: relative;
		width: 100%;
	}

	.top .menu .search form input {
		box-shadow: none;
		padding: 10px 15px;
	}

	.photo {
		height: 450px;
	}

	.page-contact .contact-form input[type="text"],
	.page-contact .contact-form input[type="email"] {
		width: 100%;
	}
}

@media screen and (min-width: 768px) {
	.top .menu {
		display: block !important;
	}
}


/* ANIMATIONS **************************************************/
.fade-in {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
} 


.fade-in-up {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
  
@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
} 

.fade-in-down {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
} 

.fade-in-right {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
} 

.fade-in-left {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
} 
.top {
	background: none;
}

#